body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #333;
}

.head-menu{
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo{
  text-align: center;
  color: rgb(11, 26, 4);
  margin-left: 25px;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
}

.menu{
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-right: 25px;
  cursor: pointer;
}

.menu:hover{
  color:rgb(130, 127, 127);
  transition: 0.5s;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 100px;
  background-image: url(homeimg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.text-section {
  flex: 1;
  padding: 20px;
}

.text-section h1 {
  font-size: 2em;
}

.text-section p {
  margin: 20px 0;
}

.text-image {
  width: 100%;
  height: auto;

}

.button {
  background-color: #030202;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cta-box {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin-right: -30rem;
}

.cta-box p {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333333;
}

.cta-box a {
  display: inline-block;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.cta-box a:hover {
  background-color: #4d5660;
}

.product-slider {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  text-align: center;
}

.product-slider h2 {
  margin-bottom: 20px;
}

.ctgr-cont, .contact-cont{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 250px;
}

.ctgr-cont h2,.contact-cont h2{
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.ctgr-product, .contact-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0;
}

.ctgr-product img, .contact-content img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.ctgr-product p, .contact-content p{
  font-size: 16px;
  color: #666;
  flex-grow: 1;
}

.page-prd{
  background-color: #fff;
  width: 50%;
  border-radius: 10px;
}

.product-item {
  display: inline-block;
  margin: 0 10px;
  text-align: center;
  position: relative;
}

.product-item img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s;
}

.product-item:hover img {
  transform: scale(1.05);
}

.product-info {
  margin-top: 10px;
}

.shop-button {
  background-color: #030203;
  color: rgb(231, 231, 231);
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.product {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  flex: 1 1 calc(30% - 20px); /* Responsive width */
  display: flex;
  flex-direction: column;
}

.product-image {
  flex: 1;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}

.product-info {
  padding: 15px;
}

.product-info h2 {
  margin: 0 0 10px;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
