* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}


.head-menu{
  background-color: rgb(246, 246, 246);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo{
  text-align: center;
  color: rgb(11, 26, 4);
  margin-left: 25px;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
}

.menu{
  text-align: center;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  margin-right: 25px;
  cursor: pointer;
}

.menu:hover{
  color:rgb(130, 127, 127);
  transition: 0.5s;
}

  .port{
    overflow: hidden;
    position: relative;
    padding: 100px;
  }

.port video{
    position: absolute; 
    top: 50%; 
    left: 50%;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;
    transform: translate(-50%, -50%); 
    z-index: -1; 
    }

.judul{
  text-align: left;
  font-size: 40px;
  color: rgb(0, 0, 0);
}

.deskripsi{
  font-size: 18px;
  text-align: justify;
  color: rgb(19, 19, 19);
  padding-bottom: 20px;
  padding-top: 20px;
}

.isi{
  position: relative;
  z-index: 1;
  color: rgb(0, 0, 0);
}

.container{
  display: flex;
  justify-content: space-between;
  background-color: #fffdfd;
  width: 100%;
  padding: 100px;
  gap :2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-container ,.product-container{
  width: 25%;
  text-align: center;
}

.quiz-container h2 ,.product-container h2{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.quiz-container ,.img-quiz ,.product-container,.product-content{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-container img, .product-container img{
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.quiz-container p, .product-container p{
  font-size: 14px;
  color: #777;
  margin: 5px 0;
}

.quiz-container h3, .product-container h3{
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px;
}

.quiz-container button, .product-container a{
    display: inline-block;
    padding: 15px 30px;
    font-size: 16px;
    color: rgb(8, 5, 5);
    background-color: #e4e4e4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    text-decoration: none;
}

.quiz-container button:hover, .product-container a:hover{
  background-color: #000000;
  color: #fff;
  transform: translateY(-2px); 
}

.quiz-container button:active, .product-container a:active{
  transform: translateY(0); 
}

.main-container{
  width: 50%;
  text-align: center;
  position: relative;
}

.main-container img{
  width: 100%;
  border-radius: 10px;
}

.main-container .overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.main-container .overlay h2{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.main-container .overlay p{
  font-size: 16px;
  color: #777;
  margin: 5px 0;
}

.main-container .overlay a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.main-container .overlay a:hover{
  color: rgb(134, 131, 131);
  transition: 0.5s;
}

.main-container .overlay .discount{
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); 
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px; 
}

.modal-content {
background-image: url('Quiz 2.jpg');
background-size: cover;  
background-position: center; 
margin: 10% auto;
padding: 50px;
border: 1px solid #888;
width: 100%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 0px;
}

button{
  background-color: white; 
  color: black; 
  padding: 10px 20px;
  border: 1px solid black; 
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin-left: 0 ;
  text-align: center;
  text-decoration: none;
}

button:hover{
  background-color: rgb(0, 0, 0);
  color: white;
}

.cont-product {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #fffdfd;
  width: 100%;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: calc(25% - 20px);
  margin-bottom: 20px;
  margin-left: 10px;
  position: relative; 
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
  position: relative; 
  overflow: hidden;
  cursor: pointer; 
}

.default-image,.hover-image {
  width: 100%;
  height: auto;
  transition: opacity 0.3s;
}

.hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; 
}

.card:hover .default-image {
  opacity: 0; 
}

.card:hover .hover-image {
  opacity: 1; 
}

.card-content {
  padding: 15px;
}

.category {
  color: #e91e63;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px;
}

.desk-content {
  color: #6c757d;
  font-size: 14px;
}

footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
